In [1]:
def bubble_sort(l1):  

    for i in range(0,len(l1)-1):  
        for j in range(len(l1)-1):  
            if(l1[j]>l1[j+1]):  
                temp = l1[j]  
                l1[j] = l1[j+1]  
                l1[j+1] = temp  
    return l1  
  
l1 = [5, 3, 8, 6, 7, 2]  
print(len(l1))
print("The unsorted list is: ", list1)   
print("The sorted list is: ", bubble_sort(list1))

6

NameError: name 'list1' is not defined

In [10]:
def normalization(list1):
    min1=0
    max1=0
    min1=min(list1)
    max1=max(list1)
    res=0
    for i in list1:
        res=(i-min1)/(max1-min1)
        print("normalization"+ str(res))

In [11]:
list1=[10,20,30,40]

In [12]:
normalization(list1)

normalization0.0
normalization0.3333333333333333
normalization0.6666666666666666
normalization1.0

In [11]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
data = '/home/root1/Desktop/numbers.csv'

df = pd.read_csv(data)

In [13]:
df

    x1   x2
0  5.9  3.2
1  4.6  2.9
2  6.2  2.8
3  4.7  3.2
4  5.5  4.2
5  5.0  3.0
6  4.9  3.1
7  6.7  3.1
8  5.1  3.8
9  6.0  3.0

In [17]:
x1=df['x1'].values

In [18]:
print(x1)

[5.9 4.6 6.2 4.7 5.5 5.  4.9 6.7 5.1 6. ]

In [19]:
x2=df['x2'].values

In [20]:
print(x2)

[3.2 2.9 2.8 3.2 4.2 3.  3.1 3.1 3.8 3. ]

In [21]:
X=np.array(list(zip(x1,x2)))

In [22]:
X

array([[5.9, 3.2],
       [4.6, 2.9],
       [6.2, 2.8],
       [4.7, 3.2],
       [5.5, 4.2],
       [5. , 3. ],
       [4.9, 3.1],
       [6.7, 3.1],
       [5.1, 3.8],
       [6. , 3. ]])

In [23]:
c_x=[6.2,6.6,6.5]

In [24]:
c_x

[6.2, 6.6, 6.5]

In [25]:
c_y=[3.2,3.7,3.0]

In [26]:
c_y

[3.2, 3.7, 3.0]

In [27]:
centroid=np.array(list(zip(c_x,c_y)))

In [28]:
centroid

array([[6.2, 3.2],
       [6.6, 3.7],
       [6.5, 3. ]])

In [46]:
arr=[]
k=0
for i in X:
    for j in centroid:
        dist = np.sqrt(np.sum(np.square(i-j)))
        arr.append(dist)
        arr1=min(arr)

In [47]:
arr1

0.22360679774997916

[0.5]